.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* user edited */
a {
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  cursor: pointer;
}

.card > img {
  width: 40%;
  height: auto;
  align-self: center;
}

.pointer-setter {
  cursor: pointer;
}

.strong-text {
  font-size: 4rem;
}
.small-text {
  font-size: 0.7rem;
}
.image-sizing {
  width: 70%;
  height: 70%;
}

.my-container {
  height: 88vh !important;
  scroll-behavior: smooth;
}


.custom-box { 
  background-color: #6c757d;
  min-height: 49vh;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 8px 5px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 8px 5px rgba(0, 0, 0, 0.16);
}

.overflow-setter{
  overflow-y: auto;
  overflow-x: hidden;
}
.left-arrow{
  display:none;
}
.up-arrow{
  display:block;
  text-align: center;
}

@media (max-width: 480px) {
  .my-container {
    height: 42vh !important;
  }
  .my-img{
    height:60%;
    width:50%;
  }
  .change-flex{
    display:flex;
  }
  .custom-box {
    border: 3px solid rgb(56, 56, 56);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .height-control{
    height:40vh !important;
  }
  .overflow-setter{
    overflow-y: hidden;
    overflow-x: auto;
  }
  .left-arrow{
    display:block;
    text-align: center;
  }
  .up-arrow{
    display:none;
  }
}
/* Pure CSS loader animation */


/* ........ */
